%h4 Admin Home
%a{:href => "/users"} Users
%p
  %a{:href => "/houses"} Tours
  %p
    Users: #{User.find(:all).count}
    %p
      Tours: #{House.find(:all).count}
      %p
        Purchased Tours: #{House.find(:all, :conditions => {:is_paid => true}).count}
