

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
    </style>


    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyfQ4EDN0ufXbAQnfjvw5gK-BP_-FzclM&sensor=false">
    </script>


    <script type="text/javascript">

  	var geocoder;
	  var map;

	  function initialize() {
	    geocoder = new google.maps.Geocoder();
	    var latlng = new google.maps.LatLng(-34.397, 150.644);
	    var mapOptions = {
	      zoom: 14,
	      center: latlng,
	      mapTypeId: google.maps.MapTypeId.ROADMAP
	    }
	    map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

		codeAddress("4024 Bryn Mawr, Dallas, TX");
	  }

	  function codeAddress(address) {
	    var address = address
	//document.getElementById("address").value;
	    geocoder.geocode( { 'address': address}, function(results, status) {
	      if (status == google.maps.GeocoderStatus.OK) {
	        map.setCenter(results[0].geometry.location);
	        var marker = new google.maps.Marker({
	            map: map,
	            position: results[0].geometry.location
	        });
			var infowindow = new google.maps.InfoWindow({
			    content: "4024 Bryn Mawr Drive<br />Dallas, TX 75225"
			});
			infowindow.open(map,marker);
	      } else {
	        alert("Geocode was not successful for the following reason: " + status);
	      }
	    });
	  }
	</script>
</head>
<body onload="initialize()">
 <div id="map_canvas" style="width: 600px; height: 500px;"></div>
</body>
</html>


