%h4 Contact Us
%div{:style => "float:right"}
  = image_tag 'contact.png'
Please feel free to contact us at anytime. We try to respond to all email the same day, if not right away.
%p
  /
    <strong>General Info Questions:</strong> <a href="mailto:info@tourvibes.com">info@tourvibes.com</a>
    <p>
  %strong Sales Questions:
  %a{:href => "mailto:sales@tourvibes.com"} sales@tourvibes.com
  %p
    %strong Support:
    %a{:href => "mailto:support@tourvibes.com"} support@tourvibes.com
    %p
      /
        <strong>Feature Requests:</strong> <a href="mailto:product@tourvibes.com">product@tourvibes.com</a>
        <p>
