<h4>Contact Us</h4>

<div style="float:right">
	<%= image_tag 'contact.png' %>
</div>

Please feel free to contact us at anytime. We try to respond to all email the same day, if not right away. 
<p>
<!--
<strong>General Info Questions:</strong> <a href="mailto:info@tourvibes.com">info@tourvibes.com</a>
<p>
-->
<strong>Sales Questions:</strong> <a href="mailto:sales@tourvibes.com">sales@tourvibes.com</a>
<p>
<strong>Support:</strong> <a href="mailto:support@tourvibes.com">support@tourvibes.com</a>
<p>
<!--	
<strong>Feature Requests:</strong> <a href="mailto:product@tourvibes.com">product@tourvibes.com</a>
<p>
-->
<strong>Office Address</strong><br />
2201 Guadalupe St, Suite 8655<br />
Austin, TX 78713




	