<h2>How it Works</h2>
<div style="height:15px;">&nbsp;</div>


<div class="how_box">
	<div class="how_header"><span class="how_number">1</span> Upload Media</div>
	<div class="line">&nbsp;</div>
	<div class="how_image">
		<%= image_tag 'icons/upload.png', :style => 'margin-top:4px;'%>
	</div>
	<div class="how_text">
		Upload all of your photos with just one click.
	</div>
</div>

<div class="how_box">
	<div class="how_header"><span class="how_number">2</span>  Choose Layout</div>
	<div class="line">&nbsp;</div>
	<div class="how_image">
		<%= image_tag 'icons/layout.png' %>
	</div>
	<div class="how_text">
		Select and customize one of our of beautiful templates.
	</div>
</div>

<div class="how_box" style="margin-right:0;">
	<div class="how_header"><span class="how_number">3</span> Publish Online</div>
	<div class="line">&nbsp;</div>
	<div class="how_image">
		<%= image_tag 'icons/publish.png' %>
	</div>
	<div class="how_text">
		Fill in your contact info and publish your tour to the live web. 
	</div>
</div>

<div style="clear:both;">&nbsp;</div>
<div class="line">&nbsp;</div>

<h2>Pricing</h2>
<div style="height:15px;">&nbsp;</div>

<%= image_tag 'icons/pricing.png' %>
<div style="height:6px;">&nbsp;</div>
No gimmicks, no hidden fees, and no bulk purchase requirements. We like to keep things simple. 


<div style="clear:both;">&nbsp;</div>
<div class="line">&nbsp;</div>

<h2>Features</h2>
<div style="height:15px;">&nbsp;</div>

<style>
.feature_box {
	float:left;margin-right:0%;line-height:2;
	width:33%;
}
</style>

<div class="feature_box">
	<i class="icon-thumbs-up"></i> Amazing Service <br />
	<i class="icon-camera"></i>  HD Images, Video, Panorama<br />
	<i class="icon-upload"></i>  Interactive Floorplans<br />
	<i class="icon-wrench"></i>  Customize Design &amp; Layout<br />
</div>
<div class="feature_box">
	<i class="icon-picture"></i>  Unlimited Photos<br />
	<i class="icon-user"></i>  Add contact info, photo, &amp; logo<br />
	<i class="icon-edit"></i>  Match design to your brand<br />
	<i class="icon-cog"></i>   No software download required<br />
	
</div>
<div class="feature_box" style="margin:right:0;">
	<i class="icon-fire"></i>   Ultra-fast loading speed<br />
	<i class="icon-ok"></i>  Flat price, no hidden fees<br />
	<i class="icon-th-large"></i>  Incredibly easy to use<br />
	<i class="icon-play"></i>  Smooth photo transitions<br />
</div>

<div style="clear:both;">&nbsp;</div>

