
<style>
.big_number {
	color:#1C4DA3;
	font-size:50px;
	font-weight:bold;
	width:235px;
	text-align:right;
	display:inline-block;
}

.small_number {
	color:#1C4DA3;
	font-size:23px;
	font-weight:bold;
	text-transform:uppercase;
	
}

.bold_caps {
	font-weight:bold;
	text-transform:uppercase;
	font-size:18px;
	width:200px;
	text-align:left;
	display:inline-block;
	margin-left:6px;
}

.number_space {
	height:5px;
	padding:0;
	margin:0;
	margin-top:8px;
}

.plus_sign {
	vertical-align:super;
	font-size:43px;
	padding-left:3px;
}

</style>

<div style="float:right;width:460px;line-height:1.1">
	<div class="big_number">150,000<span class="plus_sign">+</span></div> 
	<div class="bold_caps">Tours Delivered</div>
	<div class="line number_space">&nbsp;</div>
	
	<div class="big_number">30,000<span class="plus_sign">+</span></div> 
	<div class="bold_caps">Customers Served</div>
	<div class="line number_space">&nbsp;</div>
	
	<div class="big_number">2.2<span class="plus_sign">+</span></div> 
	<div class="bold_caps" style="line-height:1;">
		<span class="small_number">
			Million<br />
		</span>
		Images Served
	</div>
</div>


<h2 style="margin-top:10px;">Testimonials</h2>


<div style="width:450px;font-size:18px;margin-top:8px;">
“TourVibes has been so incredibly easy to use, and I love the end result. These tours have actually brought in leads which resulted in several sales. TourVibes has paid for itself several times over. I highly recommend it!
<br /><br />
<span style="font-style:italic;">&mdash; Janelle, Century 21</span>

</div>


<div style="clear:both;">&nbsp;</div>
<div class="line">&nbsp;</div>


<h2 id="how">How it Works</h2>
<div style="height:15px;">&nbsp;</div>


<div class="how_box">
	<div class="how_header"><span class="how_number">1</span> Upload Media</div>
	<div class="line">&nbsp;</div>
	<div class="how_image">
		<%= image_tag 'icons/upload.png', :style => 'margin-top:4px;'%>
	</div>
	<div class="how_text">
		Just drag and drop your photos into our simple image-uploader, then upload all of your photos with just one click. Uploading a large number of photos has never been easier. HD photos look the best, but standard photos will work too.
	</div>
</div>

<div class="how_box">
	<div class="how_header"><span class="how_number">2</span>  Choose Layout</div>
	<div class="line">&nbsp;</div>
	<div class="how_image">
		<%= image_tag 'icons/layout.png' %>
	</div>
	<div class="how_text">
		Select and customize one of our of beautiful templates. You can choose the color, the layout, and how you want the tour to function. You can also use of our great default music tracks or upload a music file of your own.
	</div>
</div>

<div class="how_box" style="margin-right:0;">
	<div class="how_header"><span class="how_number">3</span> Publish Online</div>
	<div class="line">&nbsp;</div>
	<div class="how_image">
		<%= image_tag 'icons/publish.png' %>
	</div>
	<div class="how_text">
		Next you can publish your tour to the live web. Every tour comes with a free subdomain so you have professional place to send leads. Or take things to the next level by purchasing a domain name and pointing it to your tour. 
	</div>
</div>

<div style="clear:both;">&nbsp;</div>
<div class="line">&nbsp;</div>

<!--
<h2 id="pricing">Pricing</h2>
<div style="height:15px;">&nbsp;</div>

<%= image_tag 'icons/pricing.png' %>
<div style="height:6px;">&nbsp;</div>
No gimmicks, no hidden fees, and no bulk purchase requirements. We like to keep things simple. 


<div style="clear:both;">&nbsp;</div>
<div class="line">&nbsp;</div>

-->

<h2 id="features">Features</h2>
<div style="height:15px;">&nbsp;</div>

<style>
.feature_box {
	float:left;margin-right:0%;line-height:2;
	width:33%;
}
</style>

<div class="feature_box">
	<i class="icon-thumbs-up"></i> Amazing Service <br />
	<i class="icon-camera"></i>  HD Images <!--, Video, Panorama --><br />
	<i class="icon-upload"></i>  Interactive Slideshow <!--Floorplans --><br />
	<i class="icon-wrench"></i>  Customize Design &amp; Layout<br />
</div>
<div class="feature_box">
	<i class="icon-picture"></i>  Unlimited Photos<br />
	<i class="icon-user"></i>  Add contact info, photo, &amp; logo<br />
	<i class="icon-edit"></i>  Match design to your brand<br />
	<i class="icon-cog"></i>   No software download required<br />
	
</div>
<div class="feature_box" style="margin:right:0;">
	<i class="icon-fire"></i>   Ultra-fast loading speed<br />
	<i class="icon-ok"></i>  Flat price, no hidden fees<br />
	<i class="icon-th-large"></i>  Incredibly easy to use<br />
	<i class="icon-play"></i>  Smooth photo transitions<br />
</div>

<div style="clear:both;">&nbsp;</div>

<script type="text/javascript">

$('#feature_link').click(function() {
	$('html, body').animate({
		scrollTop: $("#features").offset().top
	}, 600);
});

$('#pricing_link').click(function() {
	$('html, body').animate({
		scrollTop: $("#pricing").offset().top
	}, 600);
	
});

$('#how_link').click(function() {
	$('html, body').animate({
		scrollTop: $("#how").offset().top
	}, 600);
	
});

<% if @page_action == "features" %>
	$('html, body').animate({
		scrollTop: $("#features").offset().top
	}, 600);
<% end %>

<% if @page_action == "pricing" %>
	$('html, body').animate({
		scrollTop: $("#pricing").offset().top
	}, 600);
<% end %>

<% if @page_action == "how" %>
	$('html, body').animate({
		scrollTop: $("#how").offset().top
	}, 600);
<% end %>


</script>

