/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.fileupload-ui
 *= require_tree .
 */


html, body {
	margin:0;
	padding:0;
	font-family:"Helvetica Neue",Helvetica,Arial;
	font-size:15px;
	color:#444;
	line-height:1.6;
	height:100%;
}

.link_blue {
	color:#1C5DEB;
}

a, a:active, a:visited {
	text-decoration:none;
		/*color:#00e;*/
	color:#1C5DEB;
}

a:hover {
	text-decoration:underline;
}

i {
	text-decoration:none;
	font-style:normal;
}

.LV_validation_message {
	margin-left:5px;
	font-size:15px;
}

.LV_invalid {
	color:red;
}

.container {
	width:100%;
  	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom:-150px;
	background:url('page_bg.png') repeat;
}

.footer {
	height:150px;
}

.content {
	background:url('page_bg.png') repeat;
	min-height:400px;
}

.inner_content {
	margin:0 auto;
	padding-top:15px;
	padding-bottom:50px;
}

.standard_width {
	width:77%;
}

th {
	text-align:left;
	margin-bottom:0;
	padding-bottom:7px;
}

h1, h2, h3, h4, h5 {
	color:white;
	padding:0;
	margin:0;
}

h2, h4, h5 {
	font-family:"Myriad Pro",Arial;
	color:#444;
	font-size:25px;
	font-weight:bold;
	text-shadow:0 1px 0 white;
}

h4 {
	font-weight:normal;
	margin-bottom:10px;
}

h5 {
	font-family:"Helvetica Neue","Helvetica",Arial;
	margin-bottom:10px;
	font-size:18px;
	font-weight:bold;
}

.header {
	background:#353535;
	height:74px;
	border-bottom:3px solid #16466E;
}

.header_inner {
	margin-right:auto;
	margin-left:auto;
	padding-top:20px;
}

.top_nav {
	float:right;
	padding-top:4px;
}

.top_nav a {
	font-size:16px;
	font-weight:bold;
	color:#DDDDDD;
	margin-left:30px;
	text-decoration:none;
	text-shadow:0 1px 0 black;
}

.top_nav a.selected {
	color:#8DCCF2;
}

.top_nav a:hover {
	text-decoration:underline;
}

.home_top {
	background:url('home_top_bg.png') repeat-x;
	height:298px;
	border-bottom:3px solid #16466E;
}

.home_top_inner {
	padding-top:50px;
	margin-right:auto;
	margin-left:auto;
}



a.gray_button {
	color:#323232;
}

.gray_button, .gray_button a, .button, .button a {
	background:url('buttons/gray_bg.png') repeat-x;
	color:#323232;
	border:1px solid #ccc;
	border-radius:15px;
	display:inline-block;
	font-size:20px;
	font-weight:bold;
	font-family:"Corbel";
	padding:2px 40px 4px;
	text-decoration:none;
	text-shadow:0 1px 0 white;
}



.gray_button:hover, .gray_button a:hover {
	background:#e1e1e1;
	text-decoration:none;
}



.blue_button a, .blue_button {
	background:url('buttons/blue_bg.png') repeat-x;
	color:white;
	text-shadow:0 1px 0 #333;
	border:1px solid #0099cc;
}

.blue_button a:hover, .blue_button:hover {
	background:#0076CB;
	text-decoration:none;
}

.how_box {
	float:left;
	width:25%;
	margin-right:10%;
	text-align:center;
	min-width:200px;
}

.how_image {
	height:145px;
}

.how_text {
	margin-top:15px;
	text-align:left;
}

.how_header {
	font-size:22px;
	color:#478BB1;
	text-shadow:0 1px 0 white;
	font-weight:bold;
	text-align:center;
}

.line {
	background:url('line.png') repeat-x;
}

.dark_line {
	background:url('dark_line.png') repeat-x;
}

.how_number {
	color:#999999;
	padding-right:5px;
}


.footer {
	background:#282A2F;
}

.footer_inner {
	margin:0px auto;
	padding-top:23px;
}

.footer a {
/*	background:url('dark_line.png') repeat-x bottom; */
	display:block;
	width:150px;
	padding-bottom:3px;
	padding-left:4px;
	margin-bottom:10px;
	color:#ccc;
	font-size:14px;
}

.footer a:hover {
	color:#8DCCF2;
}

.update, .error {
	background:#DAFDD3;
	border:1px solid #eaeaea;
	display:inline-block;
	padding:5px 20px 6px;
	margin:0px 0 12px;
	border-radius:6px;
}

.error {
	background:#F3D5E0;
}



label {
	width:160px;
	display:inline-block;
	text-align:right;
	margin-bottom:8px;
	margin-right:4px;
}

input[type=text], input[type=password] {
	width:180px;
}

input[type=submit].move {
	margin-left:168px;
	margin-top:2px;
}

input[type=text].home_field, input[type=password].home_field {
	font-size:16px;
	width:250px;
}

input[type=text], input[type=password],select,textarea {
	font-family:"Helvetica Neue","Helvetica","Arial";
	font-size:13px;
	color:#333;
	border-radius:3px;
	padding:3px;
	border:1px solid #B7C6D4;
}

input[type=text],input[type=password],select,textarea {
	-webkit-transition:border linear 0.2s,box-shadow linear 0.2s;-moz-transition:border linear 0.2s,box-shadow linear 0.2s;transition:border linear 0.2s,box-shadow linear 0.2s;
	-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

input[type=text]:focus,input[type=password]:focus,textarea:focus {
	outline:none;
	border-color:rgba(82, 168, 236, 0.8);
	-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);
}

input[type=submit] {
	cursor: pointer;
	cursor: hand;
}

.submit {
	width:180px;
}

.center_form_box {
	width:500px;margin:40px auto 0;align:center;border:2px solid #ccc;border-radius:8px;padding:25px 40px 40px;
}

input.login_text, textarea.login_text {
	font-size:17px;
	width:300px;
	margin-bottom:4px;
}

textarea.login_text {
	height:90px;
	margin:1px 0;
	width:400px;
	font-size:15px;
}


input[type=submit] {
	width:305px;
	padding-top:6px;
	padding-bottom:8px;
	margin-top:4px;
}

label {
	padding-right:6px;
	font-size:16px;
}

.small_button {
	font-size:16px;
	padding:2px 20px 3px;
	width:auto;
}