@import 'base', 'jquery.fileupload-ui', 'icons', 'fileupload-ui', 'spectrum'

.field_with_errors
  display: inline

.center_form_box
  width: 500px
  margin: 40px auto 0
  align: center
  border: 2px solid #ccc
  border-radius: 8px
  padding: 25px 40px 40px

.big_number
  color: #1C4DA3
  font-size: 50px
  font-weight: bold
  width: 235px
  text-align: right
  display: inline-block

.small_number
  color: #1C4DA3
  font-size: 23px
  font-weight: bold
  text-transform: uppercase

.bold_caps
  font-weight: bold
  text-transform: uppercase
  font-size: 18px
  width: 200px
  text-align: left
  display: inline-block
  margin-left: 6px

.number_space
  height: 5px
  padding: 0
  margin: 0
  margin-top: 8px

.plus_sign
  vertical-align: super
  font-size: 43px
  padding-left: 3px

.tab_box
  border-bottom: 1px solid #ccc
  box-shadow: 0 1px white
  margin-top: 8px
  a
    background: #F3F3F3
    color: #323232
    border: 1px solid #ccc
    border-radius: 6px 6px 0 0
    display: inline-block
    font-size: 17px
    padding: 3px 25px 3px
    text-decoration: none
    text-shadow: 0 1px 0 white
    margin-right: 3px
    border-bottom: none
    &:first-of-type
      margin-left: 20px
    &:hover
      background: #DCE7EE
    &.active
      background: url('/assets/tab_bg.png') repeat-x
      color: white
      text-shadow: 0 1px 0 #333
      font-weight: normal
      border: none
      margin-bottom: 0
      padding-bottom: 4px

  .right_link
    a
      border: none
      background: none
      display: inline
      width: auto
      padding: 0px 0 0
      color: #1C5DEB
      margin-right: 20px
      &:hover
        text-decoration: underline

.space30
  height: 30px

form
  select
    font-size: 15px
